body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    accent-color: rgb(229, 136, 136);
    background-color: #f9e4d5;
    width: 100vw;
  }

header{
  display: flex;
  align-items: center;
  height: 4em;
  background-color: white;
  }

header img {
  width: 3em;
  height: 3em;
  padding: 0 2em;
    
}

header h1{
margin-right: auto;
 font-size: 1em;
}

header ul {
  list-style-type: none;
  display: flex;
  
}



header li a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 40px;
  text-decoration: none;
}

header ul li a {
 font-size: 0.8em;
}

header li a:hover {
  background-color: #f9e4d5;
}





.home section:nth-of-type(1) {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url(afbeeldingen/foto.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.home section:nth-of-type(1) article{
  box-shadow: 0 8px 6px -6px white;
  width: 50%;
  background-color: bisque;
  padding: 1.5em;
  font-size: 0.8em;
  border-radius: 2em;
}

.home section:nth-of-type(2){
  display:flex;
  height: fit-content;
  margin-top: 2.5em;
  font-size: 0.8em;
}
.home section:nth-of-type(2) article{
  background: white;
  margin: 15px;
  border-radius: 5px;
  padding: 1em;
}


.home section:nth-of-type(3) article{
  background: white;
  margin: 10px;
  border-radius: 5px;
  padding: 1em;
  display:flex;
  margin-top: 2.5em;
  font-size: 0.8em;
  display:inline-block;
  width: 95vw;
}





.rest section{
background-color: #f9e4d5;
margin-top: 1em;

}
.rest section article{
display: flex;
}

.rest section img{
  height: 20em;
  width: 45em;
  margin-bottom: 2em;
  border-radius: 3em;
}

.rest section p{
text-align: left;
padding-left: 1em;
padding-right: 1em;
margin-top: 5em;
}





.hotels section:first-of-type{
  display:flex;  
  flex-direction: column; 
  background-color: antiquewhite;
}


.hotels section:first-of-type article {
  display: flex;
 
}

.hotels section:first-of-type article p{
  padding-left: 1em;
  padding-top: 5em;
}

.hotels section:first-of-type article ul{
  margin-top: 6em;
  margin-right: 1em;
}

.hotels section:first-of-type article img{
  width: 50vw;
  height: 40vw;
}



.plek section:first-of-type{
  display: flex;
}

.plek section:first-of-type li{
  background-color: white;
  margin: 1em;
  border-radius: 1em;
  padding: 0.5em;
}

.plek section:first-of-type img{
  margin-top: 2em;
  width: 50vw;
  height: 20em;
}

footer{
  background-color: antiquewhite;
  width: 100%;
  height: 1em;
  bottom: 0;
  margin: 0em;
  text-align: center;
  position: sticky;
  top: 0em;
  font-size: 0.5em;
  
}












@media(max-width:500px){
header{
  height: 6em;
}

header img{
  display: none;
}

header h1{
  font-size: 1em;
  padding-left: 0.5em;
}


header ul{
  display:block;
}

.home section:nth-of-type(2){
  display:block;
  margin-left: 0.7em;
  margin-right: 0.7em;
}

.home section:nth-of-type(3){
display: block;
width: 20em;
margin-left: 0.7em;
margin-right: 0.7em;
}

.home section:nth-of-type(3) article{
  width: 81vw;
}

.rest section{
  display: flex;
  width: fit-content;
}

.rest section img{
  height: 15em;
  width: 100vw;
  margin-top: 1em;
}

.rest section p{
  width: 90%;
  margin-top: 0em;
  margin-left: 0;
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
}


.plek section:first-of-type{
  display: block;
}

.plek section:first-of-type img{
  height: 20em;
  width: 96vw;

}
.rest section article{
  display: block;
  height: fit-content;
  padding: 1em;
}

.rest section article img{
  width: 20em;
}
section:first-of-type.hotels article img{
  width: 95vw;
  height: 100vw; 
}

section:first-of-type.hotels article{
  display: block;
}
section:first-of-type.hotels article p{
  width: 90%;
  margin-top: -2em;
}


}